@use '../helpers' as *;

.burger-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rem(10);
  background-color: transparent;
  border: none;
  color: var(--color-light);

  @include hover {
      color: var(--color-bg-opacity);
  }

  & p {
    opacity: 0;
    transition-duration: var(--transition-duration);
    text-wrap-mode: nowrap;
  }

  &.is-active {
    color: var(--color-dark);

    @include hover {
      color: var(--color-green);
  }

    & p {
      opacity: 1;
    }

    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.20em 0.1em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  &__navicon {
    @include square(rem(40));

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(9) rem(7.5);
    
  }


  &__line {
    width: 100%;
    height: rem(1);
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);

    &:last-child {
      align-self: end;
    }
  }
}