@use 'helpers' as *;

.body {
  @include fluid-text(18, 14);

  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: 
    url('../images/background-image.jpg') 
    no-repeat  
    center center
    fixed;
  background-size: 100vw 100vh;
  background-color: var(--color-green);
  font-family: var(--font-family-base);
  color: var(--color-light);

  @include mobile-s {
    background-image: url('../images/background-mobile.jpg');

  }

  &__overlay {
    width: 100%;
    height: 100vh;
    background-image: var(--gradient-overlay);
  }

  &.is-open-modal {
    overflow: hidden;
  }
}

h1, .h1 {
  font-size: rem(90);
  font-weight: 900;
  letter-spacing: rem(5);

  @include mobile {
    font-size: rem(35);
    letter-spacing: rem(2);
  }
}

h2, .h2 { 
  font-size: rem(32);
  letter-spacing: rem(2);

  @include mobile {
    font-size: rem(20);
  }
}

h3, .h3 {
  font-size: rem(24);

  @include mobile {
    font-size: rem(20);
  }
}

h4, .h4 {
  font-size: rem(20);
  letter-spacing: 0;

  @include tablet {
    font-size: rem(14);
  }
}

h5, .h5 {
  font-size: rem(14);
}

h6, .h6 {
  font-size: rem(12);
}

a,
button,
label,
input,
select,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; 

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-green);
  outline-offset: rem(2);
  transition-duration: 0s !important;
}

